@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-neutral-900: #141D2F;
  --color-neutral-800: #1E2A47;
  --color-neutral-700: #2B3442;
  --color-neutral-500: #4B6A9B;
  --color-neutral-300: #697C9A;
  --color-neutral-200: #90A4D4;
  --color-neutral-100: #F6F8FF;
  
  --color-blue-500: #0079FF;
  --color-blue-300: #60ABFF;

  --color-red-500: #F74646;

  --font-space: "Space Mono", sans-serif;
  --text-base: 15px;
  --leading-base: 150%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Space Mono", sans-serif;
}